openapi: 3.2.0
info:
  title: Reference Custom Integrations API
  version: '2.0'
  contact:
    name: Sendlane
    url: https://sendlane.com
    email: support@sendlane.com
  description: Sendlane V2 API
servers:
- url: https://api.sendlane.com/v2
  description: Sendlane
security:
- BearerToken: []
tags:
- name: Custom Integrations
paths:
  /integrations/custom:
    get:
      summary: List Integrations
      operationId: list-custom-integrations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexCustomIntegrationsResponse.v2'
      description: Get integrations
      tags:
      - Custom Integrations
    post:
      summary: Create Integration
      operationId: create-custom-integration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomIntegrationRequest.v2'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateIntegrationResponse.v2'
        '422':
          description: Invalid data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ErrorResponse.v2'
      description: Create a custom integration
      tags:
      - Custom Integrations
  /integrations/custom/{integrationToken}:
    delete:
      summary: Delete Integration
      operationId: delete-custom-integration
      parameters:
      - schema:
          type: string
          format: uuid
        name: integrationToken
        in: path
        required: true
      responses:
        '204':
          description: No Content
      description: Delete a custom integration
      tags:
      - Custom Integrations
components:
  schemas:
    PaginatorMeta.v2:
      description: ''
      type: object
      x-examples: {}
      properties:
        current_page:
          type: integer
          readOnly: true
        from:
          type: integer
          readOnly: true
        last_page:
          type: integer
          readOnly: true
        path:
          type: string
          minLength: 1
          readOnly: true
        per_page:
          type: integer
          readOnly: true
        to:
          type: integer
          readOnly: true
        total:
          type: integer
          readOnly: true
      title: Paginator Meta
    PaginatorLinks.v2:
      description: ''
      type: object
      x-examples: {}
      properties:
        first:
          type: string
          minLength: 1
          format: uri
          readOnly: true
        last:
          type: string
          minLength: 1
          format: uri
          readOnly: true
        prev:
          type: string
          minLength: 1
          format: uri
          readOnly: true
        next:
          type: string
          minLength: 1
          format: uri
          readOnly: true
      title: Paginator Links
    CreateCustomIntegrationRequest.v2:
      title: Destroy Integration
      type: object
      x-examples:
        Update List Request:
          name: string
          url: string
      properties:
        name:
          type: string
        url:
          type: string
          format: uri
        default_sync_list:
          type: integer
        emailProfile:
          type: string
          enum:
          - Shipping
          - Billing
      required:
      - name
      - url
      - default_sync_list
      - emailProfile
    CreateIntegrationResponse.v2:
      title: Create Integration Response
      type: object
      properties:
        data:
          $ref: '#/components/schemas/CustomIntegration.v2'
      x-examples:
        Response:
          data:
          - token: uuid
            name: string
            url: string
            status: string
            created_at: string
    CustomIntegration.v2:
      title: Custom Integration
      type: object
      x-examples:
        Integration:
          token: string
          name: string
          url: string
          status: string
          created_at: string
      properties:
        token:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
        url:
          type: string
        status:
          type: string
          enum:
          - Initializing
          - Syncing
          - Connected
          - Updating
          - Failed
          - Disconnected
          readOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
      required:
      - name
      - url
    ErrorResponse.v2:
      title: Error Response
      type: object
      properties:
        message:
          type: string
        errors:
          type: object
    IndexCustomIntegrationsResponse.v2:
      title: Index Custom CustomIntegrations Response
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CustomIntegration.v2'
        links:
          $ref: '#/components/schemas/PaginatorLinks.v2'
        meta:
          $ref: '#/components/schemas/PaginatorMeta.v2'
      x-examples:
        Response:
          data:
          - token: uuid
            name: string
            url: string
            status: string
            created_at: string
          links:
            first: string
            last: string
            prev: string
            next: string
          meta:
            current_page: 1
            from: 1
            last_page: 1
            path: string
            per_page: 15
            to: 1
            total: 1
  securitySchemes:
    BearerToken:
      name: Authorization
      type: apiKey
      in: header
      description: API token sent in the Authorization header with the value "Bearer {apiToken}"
    OtherAccountBearerToken:
      name: Authorization-Destination
      type: apiKey
      in: header
      description: API token for other account sent in the Authorization-Destination header with the value "Bearer {apiToken}"
