openapi: 3.0.0
info:
  title: Api Reference
  version: '2.0'
  contact:
    name: Sendlane
    url: 'https://sendlane.com'
    email: support@sendlane.com
  description: Sendlane V2 API
servers:
  - url: 'https://api.sendlane.com/v2'
    description: Sendlane
paths:
  '/lists/{listId}/contacts':
    parameters:
      - schema:
          type: integer
        name: listId
        in: path
        required: true
      - $ref: '#/components/parameters/from'
      - $ref: '#/components/parameters/to'
    post:
      summary: Create List Contact
      operationId: post-lists-listId-contacts
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/AcceptedResponse.v2.yaml
      description: 'Add a contact to a list (In order to add **SMS Consent** to the request, the **Contact SMS Consent** endpoint must first be enabled in your account by contacting support)'
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                contacts:
                  type: array
                  uniqueItems: true
                  minItems: 1
                  items:
                    $ref: ./models/ListContact.v2.yaml
              required:
                - contacts
            examples:
              Add Contact:
                value:
                  contacts:
                    - email: user@example.com
                      first_name: string
                      last_name: string
                      phone: '+15555555555'
                      email_consent: true
                      sms_consent: []
                      tag_ids:
                        - 1
                      tagNames:
                        - tag
                      custom_fields: []
              Add Multiple Contacts:
                value:
                  contacts:
                    - email: user@example.com
                      first_name: string
                      last_name: string
                      phone: '+15555555555'
                      email_consent: true
                      sms_consent: []
                      tag_ids:
                        - 1
                      custom_fields:
                        - key: birthday
                          value: '2022-12-12'
                        - key: alias
                          value: J.Doe
        description: array of contact objects
      tags:
        - List Contacts
    get:
      summary: Get List Contacts
      operationId: get-lists-listId-contacts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./responses/ContactIndexResponse.v2.yaml
      description: Get contacts from list
      tags:
        - List Contacts
  '/lists/{listId}/contacts/{contactId}':
    parameters:
      - schema:
          type: integer
        name: contactId
        in: path
        required: true
    get:
      summary: Get List Contact
      description: Get List Contact
      tags:
        - List Contacts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./responses/ContactResponse.v2.yaml
      operationId: get-lists-listId-contacts-contactId
      parameters: []
    delete:
      description: Delete Contact from List
      summary: Delete Contact from List
      operationId: delete-lists-listId-contacts-contactId
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/AcceptedResponse.v2.yaml
      tags:
        - List Contacts
  /lists:
    get:
      summary: Get lists
      tags:
        - Lists
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: ./models/List.v2.yaml
                  links:
                    $ref: ./models/PaginatorLinks.v2.yaml
                  meta:
                    $ref: ./models/PaginatorMeta.v2.yaml
              examples:
                Lists:
                  value:
                    data:
                      - id: 1
                        list_name: string
                        default_from_name: string
                        default_from_email: string
                        default_reply_email: string
                        default_subject: string
                        list_key: string
                        description: string
                        created_by: string
                        contact_name: string
                        contact_email: string
                        company: string
                        address: string
                        city: string
                        postal_code: string
                        country: string
                        state_code: string
                        phone: string
                        status: string
                        date_added: string
                        deleted_date: null
      operationId: get-lists
      description: Returns the lists for the authenticated user
      parameters:
        - schema:
            type: integer
            format: int64
            default: 10
          in: query
          name: limit
          description: Maximum number of results
        - schema:
            type: integer
            default: 1
          in: query
          name: page
          description: Page of results to return
    post:
      summary: Create List
      operationId: post-lists
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./responses/ListResponse.v2.yaml
              examples:
                Store List Response:
                  value:
                    data:
                      id: 1
                      name: string
                      description: string
                      status: string
                      created: string
                      flagged: string
      description: Create a list
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./requests/StoreListRequest.v2.yaml
            examples:
              Create list:
                value:
                  id: 1
                  list_name: string
                  default_from_name: string
                  default_from_email: string
                  default_reply_email: string
                  default_subject: string
                  list_key: string
                  description: string
                  created_by: string
                  contact_name: string
                  contact_email: string
                  company: string
                  address: string
                  city: string
                  postal_code: string
                  country: string
                  state_code: string
                  phone: string
                  status: string
                  date_added: string
      tags:
        - Lists
  '/lists/{listId}':
    parameters:
      - schema:
          type: integer
        name: listId
        in: path
        required: true
    delete:
      summary: Delete List
      operationId: delete-lists-listId
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/AcceptedResponse.v2.yaml
      tags:
        - Lists
      description: Delete list
    put:
      summary: Update List
      operationId: put-lists-listId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./responses/ListResponse.v2.yaml
              examples:
                Update List Response:
                  value:
                    data:
                      id: 1
                      name: string
                      description: string
                      status: string
                      created: string
                      flagged: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./requests/UpdateListRequest.v2.yaml
      description: Update list
      tags:
        - Lists
    get:
      summary: Get List
      operationId: get-lists-listId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./responses/ListResponse.v2.yaml
              examples:
                Get List Response:
                  value:
                    data:
                      id: 1
                      name: string
                      description: string
                      status: string
                      created: string
                      flagged: string
      tags:
        - Lists
      description: Get list
  '/lists/{listId}/unsubscribed':
    get:
      summary: Lists Unsubscribed
      parameters:
        - schema:
            type: integer
          name: listId
          in: path
          required: true
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/to'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: ./models/Contact.v2.yaml
                  links:
                    $ref: ./models/PaginatorLinks.v2.yaml
                  meta:
                    $ref: ./models/PaginatorMeta.v2.yaml
      tags:
        - Lists
      operationId: get-lists-unsubscribed
      description: Get Lists Unsubscribed
  /automations/copy:
    post:
      summary: Automation Copy
      tags:
        - Automations
      security:
        - BearerToken: []
          OtherAccountBearerToken: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./requests/AutomationCopyRequest.v2.yaml
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/CreatedResponse.v2.yaml
      operationId: post-automations-copy
      description: Copy Automations
  /tags:
    get:
      summary: Get Tags
      tags:
        - Tags
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: ./models/Tag.v2.yaml
                  links:
                    $ref: ./models/PaginatorLinks.v2.yaml
                  meta:
                    $ref: ./models/PaginatorMeta.v2.yaml
      operationId: get-tags
      description: Get tags for account
    post:
      summary: Create Tag
      operationId: post-tags
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./models/Tag.v2.yaml
              examples:
                Created Tag:
                  value:
                    data:
                      id: 1
                      name: string
                      status: active
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/Tag.v2.yaml
            examples:
              Create tag:
                value:
                  name: string
      description: Create a tag
      tags:
        - Tags
  /custom-fields:
    get:
      summary: Get Custom Fields
      tags:
        - Custom Fields
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: ./models/CustomField.v2.yaml
                  links:
                    $ref: ./models/PaginatorLinks.v2.yaml
                  meta:
                    $ref: ./models/PaginatorMeta.v2.yaml
      operationId: get-custom-fields
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/page'
      description: Returns custom fields
    post:
      summary: Create Custom Field
      operationId: post-custom-fields
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/CustomField.v2.yaml
            examples:
              Example:
                value:
                  name: string
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: ./models/CustomField.v2.yaml
                  links:
                    $ref: ./models/PaginatorLinks.v2.yaml
                  meta:
                    $ref: ./models/PaginatorMeta.v2.yaml
      description: Create custom field
      tags:
        - Custom Fields
  /senders:
    get:
      summary: Sender Profiles
      tags:
        - Senders
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: ./models/Sender.v2.yaml
                  links:
                    type: object
                    required:
                      - first
                      - last
                    properties:
                      first:
                        type: string
                        minLength: 1
                      last:
                        type: string
                        minLength: 1
                      prev:
                        type: string
                        nullable: true
                      next:
                        type: string
                        nullable: true
                  meta:
                    type: object
                    required:
                      - current_page
                      - last_page
                      - path
                      - per_page
                      - total
                    properties:
                      current_page:
                        type: integer
                      from: {}
                      last_page:
                        type: integer
                      path:
                        type: string
                        minLength: 1
                      per_page:
                        type: integer
                      to: {}
                      total:
                        type: integer
                required:
                  - data
                  - links
                  - meta
              examples: {}
      operationId: get-senders
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/page'
      description: Get sender profiles
    post:
      summary: Create Sender Profile
      operationId: post-senders
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  data:
                    $ref: ./models/Sender.v2.yaml
                required:
                  - data
              examples:
                Sender:
                  value:
                    data:
                      id: 1
                      address_1: string
                      city: string
                      company: string
                      country: string
                      from_email: user@example.com
                      from_name: string
                      reply_email: user@example.com
                      state_code: string
                      postal_code: string
                      is_default: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/Sender.v2.yaml
      tags:
        - Senders
      description: Create sender profile
  /sms-messages:
    get:
      summary: SMS Messages
      tags:
        - SMS
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: ./models/SmsMessage.v2.yaml
                  links:
                    $ref: ./models/PaginatorLinks.v2.yaml
                  meta:
                    $ref: ./models/PaginatorMeta.v2.yaml
      operationId: get-sms-messages
      description: SMS Messages
  '/sms-messages/{messageId}':
    parameters:
      - schema:
          type: integer
        name: messageId
        in: path
        required: true
      - $ref: '#/components/parameters/from'
      - $ref: '#/components/parameters/to'
    get:
      summary: Get SMS Message
      tags:
        - SMS
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./models/SmsMessage.v2.yaml
      operationId: get-sms-message
      description: Get SMS Message
  '/sms-messages/{messageId}/report':
    parameters:
      - schema:
          type: integer
        name: messageId
        in: path
        required: true
      - $ref: '#/components/parameters/from'
      - $ref: '#/components/parameters/to'
    get:
      summary: SMS Report
      tags:
        - SMS
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./models/SmsReport.v2.yaml
      operationId: get-sms-report
      description: SMS Report
  '/senders/{senderId}':
    parameters:
      - schema:
          type: integer
        name: senderId
        in: path
        required: true
    get:
      summary: Sender Profile
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  data:
                    $ref: ./models/Sender.v2.yaml
                required:
                  - data
              examples:
                Sender:
                  value:
                    data:
                      id: 1
                      address_1: string
                      city: string
                      company: string
                      country: string
                      from_email: user@example.com
                      from_name: string
                      reply_email: user@example.com
                      state_code: string
                      postal_code: string
                      is_default: true
      operationId: get-senders-senderId
      tags:
        - Senders
      description: Get sender profile
    patch:
      summary: Update Sender Profile
      operationId: patch-senders-senderId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  data:
                    $ref: ./models/Sender.v2.yaml
                required:
                  - data
              examples:
                Sender:
                  value:
                    data:
                      id: 1
                      address_1: string
                      city: string
                      company: string
                      country: string
                      from_email: user@example.com
                      from_name: string
                      reply_email: user@example.com
                      state_code: string
                      postal_code: string
                      is_default: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/Sender.v2.yaml
      tags:
        - Senders
      description: Update sender profile
    delete:
      summary: Delete Sender Profile
      operationId: delete-senders-senderId
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/AcceptedResponse.v2.yaml
      tags:
        - Senders
      description: Delete sender profile
  '/suppression/domains/{suppressionId}':
    parameters:
      - schema:
          type: number
        name: suppressionId
        in: path
        required: true
    delete:
      summary: Delete Domain Suppression
      operationId: delete-domain-suppression-suppressionId
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/AcceptedResponse.v2.yaml
      description: Remove a domain from the suppression list
      tags:
        - Suppression
  /suppression/domains:
    get:
      summary: Domain Suppressions
      tags:
        - Suppression
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./responses/DomainSuppressionResponse.v2.yaml
              examples:
                Domain Suppression Response:
                  value:
                    data:
                      - id: string
                        domain: string
                    links:
                      first: string
                      last: string
                      prev: string
                      next: string
                    meta:
                      current_page: 1
                      from: 1
                      last_page: 1
                      path: string
                      per_page: 100
                      total: 1
      operationId: get-domain-suppression-suppressionId
      description: Get domain suppressions
    parameters: []
    post:
      summary: Create Domain Suppression
      operationId: post-domain-suppression
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./responses/StoreDomainSuppressionResponse.v2.yaml
              examples:
                Create Domain Suppression Response:
                  value:
                    data:
                      id: string
                      domain: string
      description: Add a domain to the suppression list
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/DomainSuppression.v2.yaml
            examples:
              Create Domain Suppression:
                value:
                  domain: string
      tags:
        - Suppression
  /suppression/emails:
    get:
      summary: Email Suppressions
      tags:
        - Suppression
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./responses/EmailSuppressionResponse.v2.yaml
              examples:
                Email Suppression Response:
                  value:
                    data:
                      - id: 1
                        email: string
                        list_id: 1
                    links:
                      first: string
                      last: string
                      prev: string
                      next: string
                    meta:
                      current_page: 1
                      from: 1
                      last_page: 1
                      path: string
                      per_page: 100
                      total: 1
      operationId: get-suppression
      description: Get emails in the suppression list
    post:
      summary: Create Email Suppression
      operationId: post-suppression
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: ./models/EmailSuppression.v2.yaml
              examples:
                Store Email Suppression Response:
                  value:
                    data:
                      id: 1
                      email: string
                      list_id: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./requests/StoreEmailSuppressionRequest.v2.yaml
            examples:
              Add Email to the suppression list:
                value:
                  email: string
                  list_id: 1
      description: Add an email to the suppression list
      tags:
        - Suppression
    parameters: []
  '/tags/{tagId}':
    parameters:
      - schema:
          type: integer
        name: tagId
        in: path
        required: true
    get:
      description: Get tag
      summary: Get Tag
      tags:
        - Tags
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./models/Tag.v2.yaml
      operationId: get-tags-tagId
    patch:
      description: Update tags
      summary: Update Tag
      operationId: patch-tags-tagId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./models/Tag.v2.yaml
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/Tag.v2.yaml
      tags:
        - Tags
    delete:
      description: Delete tag
      summary: Delete Tag
      operationId: delete-tags-tagId
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/AcceptedResponse.v2.yaml
      tags:
        - Tags
  '/custom-fields/{customFieldId}':
    parameters:
      - schema:
          type: integer
        name: customFieldId
        in: path
        required: true
    get:
      summary: Get Custom Field
      tags:
        - Custom Fields
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./models/CustomField.v2.yaml
      operationId: get-custom-fields-customFieldId
      description: Returns custom field
    patch:
      summary: Update Custom Field
      operationId: patch-custom-fields-customFieldId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./models/CustomField.v2.yaml
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/CustomField.v2.yaml
      description: Update custom field
      tags:
        - Custom Fields
  /contacts:
    get:
      summary: Contacts
      parameters:
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/to'
      tags:
        - Contacts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: ./models/Contact.v2.yaml
                  links:
                    $ref: ./models/PaginatorLinks.v2.yaml
                  meta:
                    $ref: ./models/PaginatorMeta.v2.yaml
      operationId: get-contacts
      description: Get Contacts
  '/contacts/{contactId}':
    parameters:
      - schema:
          type: integer
        name: contactId
        in: path
        required: true
    get:
      summary: Get Contact
      tags:
        - Contacts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./responses/ContactResponse.v2.yaml
      operationId: get-contacts-contactId
      parameters: []
      description: Get Contact
    delete:
      description: Delete contact
      summary: Delete Contact
      operationId: delete-contacts-contactId
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/AcceptedResponse.v2.yaml
      tags:
        - Contacts
  /contacts/unsubscribed:
    get:
      summary: Contacts Unsubscribed
      parameters:
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/to'
      tags:
        - Contacts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: ./models/Contact.v2.yaml
                  links:
                    $ref: ./models/PaginatorLinks.v2.yaml
                  meta:
                    $ref: ./models/PaginatorMeta.v2.yaml
      operationId: get-contacts-unsubscribed
      description: Get Contacts Unsubscribed
  '/contacts/{contactId}/custom-fields':
    parameters:
      - schema:
          type: integer
        name: contactId
        in: path
        required: true
    get:
      summary: Get Contact Custom Fields
      tags:
        - Contacts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: ./models/ContactCustomField.v2.yaml
                  links:
                    $ref: ./models/PaginatorLinks.v2.yaml
                  meta:
                    $ref: ./models/PaginatorMeta.v2.yaml
      operationId: get-contacts-contactId-custom-fields
      parameters: []
      description: Get Contact Custom Fields
    post:
      description: Add Custom Field(s) To Contact
      summary: Add Contact Custom Field
      operationId: post-contacts-contactId-custom-fields
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./requests/ContactCustomFieldStoreRequest.v2.yaml
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: ./models/ContactCustomField.v2.yaml
                  links:
                    $ref: ./models/PaginatorLinks.v2.yaml
                  meta:
                    $ref: ./models/PaginatorMeta.v2.yaml
      tags:
        - Contacts
  '/contacts/{contactId}/custom-fields/{contactCustomFieldId}':
    parameters:
      - schema:
          type: integer
        name: contactCustomFieldId
        in: path
        required: true
    get:
      summary: Get Contact Custom Field
      description: Get Contact Custom Field
      tags:
        - Contacts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./responses/ContactCustomFieldResponse.v2.yaml
      operationId: get-contacts-contactId-custom-fields-contactCustomFieldId
      parameters: []
    delete:
      description: Remove Custom Field from Contact
      summary: Remove Custom Field  from Contact
      operationId: delete-contacts-contactId-custom-fields-contactCustomFieldId
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/AcceptedResponse.v2.yaml
      tags:
        - Contacts
  '/contacts/{contactId}/email-consent':
    parameters:
      - schema:
          type: integer
        name: contactId
        in: path
        required: true
    post:
      summary: Contact Email Consent
      tags:
        - Contacts
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./requests/Contacts/ContactEmailConsentRequest.v2.yaml
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./responses/ContactResponse.v2.yaml
      operationId: post-contacts-email-consent
      description: Add/Remove email consent to a contact *(This endpoint must first be enabled in your account by contacting support)*. Omit **list_ids** for global contacts.
  '/contacts/{contactId}/history':
    parameters:
      - schema:
          type: integer
        name: contactId
        in: path
        required: true
    get:
      summary: Contact History
      tags:
        - Contacts
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./requests/ContactHistoryRequest.v2.yaml
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./models/ContactHistory.v2.yaml
      operationId: get-contacts-history
      description: Contact History
  /contacts/search:
    get:
      summary: Contact Search
      tags:
        - Contacts
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./requests/ContactSearchRequest.v2.yaml
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./models/Contact.v2.yaml
      operationId: get-contacts-search
      description: Contact Search
  '/contacts/{contactId}/segments':
    parameters:
      - schema:
          type: integer
        name: contactId
        in: path
        required: true
    get:
      summary: Contact Segments
      tags:
        - Contacts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./models/Segment.v2.yaml
      operationId: get-contacts-segments
      description: Contact Segments
  '/contacts/{contactId}/subscriptions':
    parameters:
      - schema:
          type: integer
        name: contactId
        in: path
        required: true
    get:
      summary: Contact Subscriptions
      tags:
        - Contacts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./models/Subscription.v2.yaml
      operationId: get-contacts-subscriptions
      description: Contact Subscriptions
  /contacts/subscriptions:
    get:
      summary: Contact Search Subscriptions
      tags:
        - Contacts
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./requests/ContactSubscriptionsRequest.v2.yaml
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./models/Subscription.v2.yaml
      operationId: get-search-contacts-subscriptions
      description: Contact Search Subscriptions
  '/contacts/{contactId}/sms-consent':
    parameters:
      - schema:
          type: integer
        name: contactId
        in: path
        required: true
    get:
      summary: Get Contact SMS Consent
      description: Get Contact SMS Consent
      tags:
        - Contacts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./responses/SmsConsentResponse.v2.yaml
      operationId: get-contacts-contactId-sms-consent
      parameters: []
    post:
      summary: Contact Add SMS Consent
      tags:
        - Contacts
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./requests/ContactSmsConsentRequest.v2.yaml
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./models/SmsConsent.v2.yaml
      operationId: post-contacts-sms-consent
      description: Add SMS Consent to a contact (This endpoint must first be enabled in your account by contacting support)
    delete:
      description: Remove SMS Consent from Contact
      summary: Remove SMS Consent from Contact
      tags:
        - Contacts
      operationId: delete-contacts-contactId-sms-consent
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./responses/SmsConsentResponse.v2.yaml
              examples:
                SMS Consent Response:
                  value:
                    data:
                      - id: 1
                        phone: string
                        has_sms_consent: false
                        sms_consent:
                          sms_consent: false
                          unsubscribed_date: '2025-01-01 09:00:00'
  /contacts/sms-consent:
    post:
      summary: Contact Search and Add SMS Consent
      tags:
        - Contacts
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./requests/ContactSearchSmsConsentRequest.v2.yaml
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/AcceptedResponse.v2.yaml
      operationId: post-contacts-search-sms-consent
      description: Search for a contact by email or phone to add SMS Consent
  '/contacts/{contactId}/tags':
    parameters:
      - schema:
          type: integer
        name: contactId
        in: path
        required: true
    get:
      summary: Get Contact Tags
      tags:
        - Contacts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: ./responses/TagIndexResponse.v2.yaml
                  links:
                    $ref: ./models/PaginatorLinks.v2.yaml
                  meta:
                    $ref: ./models/PaginatorMeta.v2.yaml
      operationId: get-contacts-contactId-tags
      parameters: []
      description: Get Contact Tags
    post:
      description: Add Tag To Contact
      summary: Add Contact Tag
      operationId: post-contacts-contactId-tags
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./requests/ContactTagStoreRequest.v2.yaml
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: ./responses/TagIndexResponse.v2.yaml
                  links:
                    $ref: ./models/PaginatorLinks.v2.yaml
                  meta:
                    $ref: ./models/PaginatorMeta.v2.yaml
      tags:
        - Contacts
  '/contacts/{contactId}/tags/{tagId}':
    parameters:
      - schema:
          type: integer
        name: tagId
        in: path
        required: true
    get:
      summary: Get Contact Tag
      description: Get Contact Tag
      tags:
        - Contacts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./responses/TagResponse.v2.yaml
      operationId: get-contacts-contactId-tags-tagId
      parameters: []
    delete:
      description: Remove Tag from Contact
      summary: Remove Tag from Contact
      operationId: delete-contacts-contactId-tags-tagId
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/AcceptedResponse.v2.yaml
      tags:
        - Contacts
  '/contacts/{contactId}/unsubscribe':
    parameters:
      - schema:
          type: integer
        name: contactId
        in: path
        required: true
    post:
      summary: Contact Unsubscribe
      tags:
        - Contacts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/ContactUnsubscribeResponse.v2.yaml
      operationId: post-contacts-unsubscribe
      description: Contact Unsubscribe
  /back-in-stock-contacts:
    get:
      summary: Back In Stock Contacts
      tags:
        - Contacts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: ./models/BackInStockContact.v2.yaml
                  links:
                    $ref: ./models/PaginatorLinks.v2.yaml
                  meta:
                    $ref: ./models/PaginatorMeta.v2.yaml
      operationId: get-back-in-stock-contacts
      description: Get Back In Stock Contacts
  '/back-in-stock-contacts/{contactId}':
    parameters:
      - schema:
          type: integer
        name: contactId
        in: path
        required: true
    get:
      summary: Get Back In Stock Contact
      tags:
        - Contacts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./responses/BackInStockContactResponse.v2.yaml
      operationId: get-back-in-stock-contacts-contactId
      parameters: []
      description: Get Back In Stock Contact
    delete:
      description: Delete Back In Stock Contact
      summary: Delete Back In Stock Contact
      operationId: delete-back-in-stock-contacts-contactId
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/AcceptedResponse.v2.yaml
      tags:
        - Contacts
  /campaigns:
    get:
      summary: Campaigns
      tags:
        - Campaigns
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: ./models/Campaign.v2.yaml
                  links:
                    $ref: ./models/PaginatorLinks.v2.yaml
                  meta:
                    $ref: ./models/PaginatorMeta.v2.yaml
      operationId: get-campaigns
      description: Get Campaigns
  '/campaigns/{campaignId}':
    parameters:
      - schema:
          type: integer
        name: campaignId
        in: path
        required: true
    get:
      summary: Get Campaign
      tags:
        - Campaigns
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./models/Campaign.v2.yaml
      operationId: get-campaigns-campaignId
      description: Get campaign
  '/campaigns/{campaignId}/report':
    parameters:
      - schema:
          type: integer
        name: campaignId
        in: path
        required: true
      - $ref: '#/components/parameters/from'
      - $ref: '#/components/parameters/to'
    get:
      summary: Campaign Report
      tags:
        - Campaigns
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./models/CampaignReport.v2.yaml
      operationId: get-campaigns-report
      description: Campaign Report
  '/segments/{segmentId}/contacts':
    parameters:
      - schema:
          type: integer
        name: segmentId
        in: path
        required: true
    get:
      summary: Get Segment Contacts
      tags:
        - Segments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./responses/SegmentContactsResponse.v2.yaml
              examples:
                Segments Contacts Response:
                  value:
                    id:
                      - id: 1
                        email: string
                        first_name: string
                        last_name: string
                        phone: string
                    links:
                      first: 'https://example.com'
                      last: 'https://example.com'
                      prev: 'https://example.com'
                      next: 'https://example.com'
                    meta:
                      current_page: 1
                      from: 1
                      last_page: 1
                      path: string
                      per_page: 100
                      to: 1
                      total: 1
      operationId: get-segments-segmentId-contacts
      description: Get Segment Contacts
  /segments:
    get:
      summary: Get Segments
      tags:
        - Segments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./responses/SegmentIndexResponse.v2.yaml
              examples:
                Segments Response:
                  value:
                    data:
                      - id: 1
                        name: string
                        list_id: 1
                        match: string
                        last_count: 0
                        processed_at: string
                        created_at: string
                    links:
                      first: 'https://example.com'
                      last: 'https://example.com'
                      prev: 'https://example.com'
                      next: 'https://example.com'
                    meta:
                      current_page: 1
                      from: 1
                      last_page: 1
                      path: string
                      per_page: 100
                      to: 1
                      total: 1
      operationId: get-segments
      description: Get segments
  '/segments/{segmentId}':
    parameters:
      - schema:
          type: integer
        name: segmentId
        in: path
        required: true
    get:
      summary: Get Segment
      tags:
        - Segments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./models/Segment.v2.yaml
      operationId: get-segments-segmentId
      description: Get Segment
  '/tags/{tagId}/contacts':
    parameters:
      - schema:
          type: integer
        name: tagId
        in: path
        required: true
      - $ref: '#/components/parameters/from'
      - $ref: '#/components/parameters/to'
    get:
      summary: Tag Contacts
      tags:
        - Tags
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./responses/TagContactIndexResponse.v2.yaml
      operationId: get-tags-tagId-contacts
      description: Returns contacts for the tag
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/page'
  /tracking/added-to-cart:
    post:
      summary: Added To Cart
      tags:
        - Custom Integration Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./requests/AddedToCartRequest.v2.yaml
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/CustomIntegrationResponse.v2.yaml
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/CustomIntegrationErrorResponse.v2.yaml
        '422':
          description: Invalid data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/CustomIntegrationErrorResponse.v2.yaml
      operationId: post-tracking-added-to-cart
      description: Added To Cart
  /tracking/back-in-stock:
    post:
      summary: Back In Stock
      tags:
        - Custom Integration Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./requests/BackInStockRequest.v2.yaml
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/CustomIntegrationResponse.v2.yaml
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/CustomIntegrationErrorResponse.v2.yaml
        '422':
          description: Invalid data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/CustomIntegrationErrorResponse.v2.yaml
      operationId: post-tracking-back-in-stock
      description: Back In Stock
  /tracking/category-added:
    post:
      summary: Category Added
      tags:
        - Custom Integration Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./requests/CategoryAddedRequest.v2.yaml
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/CustomIntegrationResponse.v2.yaml
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/CustomIntegrationErrorResponse.v2.yaml
        '422':
          description: Invalid data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/CustomIntegrationErrorResponse.v2.yaml
      operationId: post-tracking-category-added
      description: Category Added
  /tracking/checkout-started:
    post:
      summary: Checkout Started
      tags:
        - Custom Integration Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./requests/CheckoutStartedRequest.v2.yaml
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/CustomIntegrationResponse.v2.yaml
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/CustomIntegrationErrorResponse.v2.yaml
        '422':
          description: Invalid data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/CustomIntegrationErrorResponse.v2.yaml
      operationId: post-tracking-checkout-started
      description: Checkout Started
  /tracking/customer-added:
    post:
      summary: Customer Added
      tags:
        - Custom Integration Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./requests/CustomerAddedRequest.v2.yaml
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/CustomIntegrationResponse.v2.yaml
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/CustomIntegrationErrorResponse.v2.yaml
        '422':
          description: Invalid data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/CustomIntegrationErrorResponse.v2.yaml
      operationId: post-tracking-customer-added
      description: Customer Added
  /tracking/order-placed:
    post:
      summary: Order Placed
      tags:
        - Custom Integration Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./requests/OrderPlacedRequest.v2.yaml
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/CustomIntegrationResponse.v2.yaml
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/CustomIntegrationErrorResponse.v2.yaml
        '422':
          description: Invalid data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/CustomIntegrationErrorResponse.v2.yaml
      operationId: post-tracking-order-placed
      description: Order Placed
  /tracking/product-added:
    post:
      summary: Product Added
      tags:
        - Custom Integration Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./requests/ProductAddedRequest.v2.yaml
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/CustomIntegrationResponse.v2.yaml
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/CustomIntegrationErrorResponse.v2.yaml
        '422':
          description: Invalid data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/CustomIntegrationErrorResponse.v2.yaml
      operationId: post-tracking-product-added
      description: Product Added
  /tracking/product-viewed:
    post:
      summary: Product Viewed
      tags:
        - Custom Integration Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./requests/ProductViewedRequest.v2.yaml
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/CustomIntegrationResponse.v2.yaml
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/CustomIntegrationErrorResponse.v2.yaml
        '422':
          description: Invalid data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/CustomIntegrationErrorResponse.v2.yaml
      operationId: post-tracking-product-viewed
      description: Product Viewed
  /tracking/event:
    post:
      summary: Custom Event
      tags:
        - Custom Integration Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./requests/CustomEventRequest.v2.yaml
            examples:
              Example 1:
                value:
                  token: string
                  custom_event: string
                  email: string
                  data:
                    field1: value1
                    field2: value2
                    list1:
                      - item1
                      - item2
              Example 2:
                value:
                  token: string
                  custom_event: string
                  email: string
                  data:
                    password-reset-url: 'https://website.domain/forgotpassword'
        description: The data component of the JSON body can be free form and can contain any data that you want to add for downstream use in automations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/CustomIntegrationResponse.v2.yaml
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/CustomIntegrationErrorResponse.v2.yaml
        '422':
          description: Invalid data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/CustomIntegrationErrorResponse.v2.yaml
      operationId: post-tracking-event
      description: Custom Event - This Call can be used to send an arbitrary payload to Sendlane to be used within automation sequences.  The data component of the payload is made available to emails and sms messages within automations that are setup as triggers for the custom-event.  Custom events can be created and given a name withing the Custom Integration.
  /integrations/custom:
    get:
      summary: List Integrations
      operationId: list-custom-integrations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./responses/Integrations/IndexCustomIntegrationsResponse.v2.yaml
      description: Get integrations
      tags:
        - Custom Integrations
    post:
      summary: Create Integration
      operationId: create-custom-integration
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./requests/Integrations/CreateCustomIntegrationRequest.v2.yaml
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: ./responses/Integrations/CreateIntegrationResponse.v2.yaml
        '422':
          description: Invalid data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/ErrorResponse.v2.yaml
      description: Create a custom integration
      tags:
        - Custom Integrations
  '/integrations/custom/{integrationToken}':
    delete:
      summary: Delete Integration
      operationId: delete-custom-integration
      parameters:
        - schema:
            type: string
            format: uuid
          name: integrationToken
          in: path
          required: true
      responses:
        '204':
          description: No Content
      description: Delete a custom integration
      tags:
        - Custom Integrations
  '/integrations/custom/{integrationToken}/events':
    get:
      summary: List Events
      operationId: index-custom-events
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./responses/Integrations/Events/IndexCustomEventsResponse.v2.yaml
      description: List custom events related to an custom integration
      tags:
        - Custom Integration Events
    post:
      summary: Create Event
      operationId: create-custom-event
      parameters:
        - schema:
            type: string
            format: uuid
          name: integrationToken
          in: path
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./requests/Integrations/Events/StoreCustomIntegrationEventRequest.v2.yaml
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: ./responses/Integrations/Events/SingleCustomEventResponse.v2.yaml
        '422':
          description: Invalid data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: ./responses/ErrorResponse.v2.yaml
      description: Create a custom integration event
      tags:
        - Custom Integration Events
  '/integrations/custom/{integrationToken}/events/{eventId}':
    get:
      summary: Show Event
      operationId: show-custom-event
      parameters:
        - schema:
            type: string
            format: uuid
          name: integrationToken
          in: path
          required: true
        - schema:
            type: string
            format: integer
          name: eventId
          in: path
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./responses/Integrations/Events/SingleCustomEventResponse.v2.yaml
      description: Show a custom integration event related to a custom integration
      tags:
        - Custom Integration Events
    delete:
      summary: Delete Event
      operationId: delete-custom-event
      parameters:
        - schema:
            type: string
            format: uuid
          name: integrationToken
          in: path
          required: true
        - schema:
            type: string
            format: number
          name: eventId
          in: path
          required: true
      responses:
        '204':
          description: No Content
      description: Delete a custom integration event
      tags:
        - Custom Integration Events
components:
  schemas: {}
  securitySchemes:
    BearerToken:
      name: Authorization
      type: apiKey
      in: header
      description: 'API token sent in the Authorization header with the value "Bearer {apiToken}"'
    OtherAccountBearerToken:
      name: Authorization-Destination
      type: apiKey
      in: header
      description: 'API token for other account sent in the Authorization-Destination header with the value "Bearer {apiToken}"'
  responses:
    error-response:
      description: Difference in response is that validation errors are keyed on the attribute that failed validation. All other errors will have the errors object as an array of errors
      content:
        application/json:
          schema:
            $ref: ./responses/ErrorResponse.v2.yaml
          examples:
            Validation Error:
              value:
                message: The given data was invalid.
                errors:
                  failedAttribute:
                    - error message
            Standard Error:
              value:
                message: string
                errors:
                  - An error occurred
  parameters:
    limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 100
      description: Maximum number of results per request
    page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: '1'
      description: Page of results to return
    from:
      schema:
        type: string
        format: date-time
      name: from
      description: Starting datetime. Required if the "to" parameter is in the query.
      in: query
      required: false
      example: '`2024-12-04T12:30:40-05:00` or `2024-12-04T12:30:40%2b05:00` or `2024-12-04T12:00:00%2b00:00` or `2024-12-04T12:00:00Z`'
    to:
      schema:
        type: string
        format: date-time
      name: to
      description: Ending datetime.
      in: query
      required: false
      example: '`2024-12-04T12:30:40-05:00` or `2024-12-04T12:30:40%2b05:00` or `2024-12-04T12:00:00%2b00:00` or `2024-12-04T12:00:00Z`'
security:
  - BearerToken: []
tags:
  - name: Automations
  - name: Campaigns
  - name: Contacts
  - name: Contact Tags
  - name: Custom Fields
  - name: List Contacts
  - name: Lists
  - name: Segments
  - name: Senders
  - name: SMS
  - name: Suppression
  - name: Tags
  - name: User
  - name: Custom Integrations
  - name: Custom Integration Webhooks
  - name: Custom Integration Events
